In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from transformer import *
import os
%load_ext autoreload
%autoreload 2

# Pickle

In [18]:
import pickle

try:
    table = pd.read_pickle('../association_table.pkl')
except:
    table = pd.read_excel('../Cas_D_Etude/Cas_Etude_Volcano/NE PAS OUVRIR/association_table.xlsx')
    table.to_pickle("../Cas_D_Etude/Cas_Etude_Vulcano/association_table.pkl")

In [19]:
table

,Index,Event,Duration,Event start,Event stop,File name,File start,File end,Sampling rate,Overlap,Unnamed: 10,Unnamed: 11,Unnamed: 12,npts,energy,path
0,0,LP1,33,2006-05-23 20:39:27.060000+00:00,2006-05-23 20:40:00.060000+00:00,20060523_2033.UB1.SL.Z.sac,2006-05-23 20:33:05.895000+00:00,2006-05-23 20:43:05.885000+00:00,100.0,False,NaN,NaN,NaN,60000.0,0.24403,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
1,1,LP1,45,2006-05-23 20:39:59.960000+00:00,2006-05-23 20:40:44.960000+00:00,20060523_2033.UB1.SL.Z.sac,2006-05-23 20:33:05.895000+00:00,2006-05-23 20:43:05.885000+00:00,100.0,False,NaN,NaN,NaN,60000.0,0.11833,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
2,2,TR2,128,2006-05-23 22:37:52.910000+00:00,2006-05-23 22:40:00.910000+00:00,20060523_2235.UB1.SL.Z.sac,2006-05-23 22:35:19.895000+00:00,2006-05-23 23:05:19.875000+00:00,50.0,False,NaN,NaN,NaN,90000.0,0.79052,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
3,3,LP1,32,2006-05-23 22:44:09.410000+00:00,2006-05-23 22:44:41.410000+00:00,20060523_2235.UB1.SL.Z.sac,2006-05-23 22:35:19.895000+00:00,2006-05-23 23:05:19.875000+00:00,50.0,False,NaN,NaN,NaN,90000.0,1.15570,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
4,4,TR2,78,2006-05-23 22:46:58.440000+00:00,2006-05-23 22:48:16.440000+00:00,20060523_2245.UB1.SL.Z.sac,2006-05-23 22:45:19.895000+00:00,2006-05-23 22:55:19.885000+00:00,100.0,False,NaN,NaN,NaN,60000.0,0.23330,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124869,124869,LP1,21,2011-10-10 13:45:13.080000+00:00,2011-10-10 13:45:34.080000+00:00,20111010_1300.UB1.SL.Z.sac,2011-10-10 13:00:00.043000+00:00,2011-10-10 14:00:00.043000+00:00,100.0,False,NaN,NaN,NaN,360001.0,0.57174,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
124870,124870,LP1,17,2011-10-10 19:07:34.050000+00:00,2011-10-10 19:07:51.050000+00:00,20111010_1900.UB1.SL.Z.sac,2011-10-10 19:00:00.043000+00:00,2011-10-10 20:00:00.043000+00:00,100.0,False,NaN,NaN,NaN,360001.0,0.80787,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
124871,124871,LP1,12,2011-10-10 19:20:48.130000+00:00,2011-10-10 19:21:00.130000+00:00,20111010_1900.UB1.SL.Z.sac,2011-10-10 19:00:00.043000+00:00,2011-10-10 20:00:00.043000+00:00,100.0,False,NaN,NaN,NaN,360001.0,0.26536,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
124872,124872,TR2,58,2011-11-10 01:08:50.090000+00:00,2011-11-10 01:09:48.090000+00:00,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,0.09180,NaN
124873,124873,LP1,21,2011-11-10 13:36:47.390000+00:00,2011-11-10 13:37:08.390000+00:00,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,0.20017,NaN

In [21]:
table[table.path.isnull()].dropna(axis=0, inplace=True)

<ipython-input-21-b5ccc46e0467>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[table.path.isnull()].dropna(axis=0, inplace=True)

# balanced_subsampler

In [22]:
from transformer import Event
from subsampler import balanced_subsampler

table = Event().fit_transform(table)
balanced_table = balanced_subsampler(table, 20)
balanced_table.event.value_counts()

EXP    20
VT     20
HIB    20
TR     20
LP     20
PIS    20
TOR    20
Name: event, dtype: int64

In [23]:
path = "/home/d5learner-08/GDrive/Cas_D_Etude/Cas_Etude_Vulcano/NE PAS OUVRIR/Extracted/"
transfo = Transformer(path)

table_transf=transfo.fit_transform(balanced_table)

In [27]:
table_transf.to_pickle("/home/d5learner-08/GDrive/Cas_D_Etude/Cas_Etude_Vulcano/association_table_transfo.pkl")

In [13]:
table_transf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140 entries, 119995 to 3273
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          140 non-null    int64
 1   Event          140 non-null    object
 2   Duration       140 non-null    int64
 3   Event start    140 non-null    object
 4   Event stop     140 non-null    object
 5   Sampling rate  126 non-null    float64
 6   Overlap        140 non-null    bool
 7   npts           126 non-null    float64
 8   energy         140 non-null    float64
 9   path           140 non-null    object
 10  event          140 non-null    object
 11  variance       106 non-null    float64
 12  mean           106 non-null    float64
 13  median         106 non-null    float64
 14  maximum        106 non-null    float64
 15  amplitude      106 non-null    float64
dtypes: bool(1), float64(8), int64(2), object(5)
memory usage: 22.6+ KB

In [ ]:
# gridsearch for the Random Forest classifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

table_transf.dropna(axis=0,how='any',inplace=True)

y=table_transf.event.copy()
X=table_transf[["Duration","energy", "mean", "median", "maximum",  "amplitude", "variance"]]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 10)

k_range = [5,30,60,100]
param_grid =  {'n_estimators': k_range}

RF_clf=RandomForestClassifier()

# grid_search = GridSearchCV(RF_clf, param_grid, cv=3, scoring='recall') #'average_precision')
# grid_search.fit(X_train, y_train)

# print(grid_search.best_score_)
# print(grid_search.best_params_)

RF_clf.fit(X_train, y_train)

In [ ]:
RF_clf.score(X_test,y_test)

%store df

%store -r df

In [ ]:

df_histo=plt.hist(np_VT_400,bins=500)
plt.show()   
maxi=np.max(df_histo[0]) 
l=df_histo[0].tolist()
i=l.index(maxi)
print(df_histo[1][i])
p=max(plt.plot(np_VT_400))
print(p)

In [ ]:
def TF_stat():
    
    T = df.loc[0,'Duration'] # Durée échantillonnage
    fe = df.loc[0,'Sampling rate']  # Freq échantionnage
    echantillons = np.load(df.loc[0,'path'])

    tfd = fft(echantillons)
    N=len(echantillons)
    spectre = np.absolute(tfd)*2/N
    #L'échelle des fréquences est construite sachant que l'espacement fréquentiel de deux points de la TFD est l'inverse de la durée T :
    freq=np.arange(N)*1.0/T

In [ ]:
import math
import numpy as np
from matplotlib.pyplot import *
from numpy.fft import fft 
from scipy import fftpack

T = df.loc[0,'Duration'] # Durée échantillonnage
fe = df.loc[0,'Sampling rate']  # Freq échantionnage
echantillons = np.load(df.loc[0,'path'])

tfd = fft(echantillons)
N=len(echantillons)
spectre = np.absolute(tfd)*2/N
            

#L'échelle des fréquences est construite sachant que l'espacement fréquentiel de deux points de la TFD est l'inverse de la durée T :
freq=np.arange(N)*1.0/T
           
#On trace le spectre pour des fréquences allant de zéro à la moitié de la fréquence d'échantillonnage :

figure(figsize=(10,4))
plot(freq,spectre,'r')
xlabel('f')
ylabel('A')
axis([-0.1,fe/2,0,spectre.max()])
grid()


X = fftpack.fft(echantillons)