## Load Data

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import os

In [2]:
try:
    table = pd.read_pickle("data/table.pkl")
except:
    table = pd.read_excel("data/association_table_corrected_index.xlsx")
    table.to_pickle("data/table.pkl")

In [3]:
from transformer import Event
from subsampler import balanced_subsampler

NUMBER_OF_SAMPLES_PER_EVENT = 20

table = Event().fit_transform(table)
balanced_table = balanced_subsampler(table, NUMBER_OF_SAMPLES_PER_EVENT)
balanced_table.event.value_counts()

TOR    20
TR     20
LP     20
PIS    20
EXP    20
HIB    20
VT     20
Name: event, dtype: int64

## Enrich data

In [5]:
from transformer import Transformer

enriched_table = Transformer("data/Extracted/").fit_transform(balanced_table)

In [6]:
enriched_table

,Index,Event,Duration,Event start,Event stop,Sampling rate,Overlap,npts,energy,path,...,amplitude,kurtosis,skew,variance_TF,mean_TF,median_TF,maximum_TF,amplitude_TF,kurtosis_TF,skew_TF
120628,120628,TOR,40,2010-06-20 15:14:35.770000+00:00,2010-06-20 15:15:15.770000+00:00,50.0,False,180866.0,0.01272,data/Extracted/TOR/TOR_120628.npy,...,259.000000,10.162294,0.108790,3.843851,0.473244,0.249512,82.985000,82.984269,1565.986245,37.441139
27604,27604,TR2,103,2006-08-16 13:30:42.560000+00:00,2006-08-16 13:32:25.560000+00:00,40.0,False,143999.0,0.38073,data/Extracted/TR/TR_27604.npy,...,3264.000000,3.380337,-0.101533,77.877264,4.833186,1.712652,245.000485,244.965495,143.850551,7.547330
76213,76213,LP1,31,2007-05-30 06:02:53.100000+00:00,2007-05-30 06:03:24.100000+00:00,100.0,False,360001.0,0.22352,data/Extracted/LP/LP_76213.npy,...,2488.000000,2.578925,-0.097327,73.870921,4.122640,1.822889,109.992191,109.969751,36.188472,5.288979
99720,99720,PIS,28,2008-11-02 12:26:24.630000+00:00,2008-11-02 12:26:52.630000+00:00,50.0,False,180001.0,0.15127,data/Extracted/PIS/PIS_99720.npy,...,132.000000,0.510653,0.014424,10.922609,0.611650,0.265512,121.527143,121.526466,1276.830188,34.998375
3207,3207,EXP,31,2006-05-29 03:16:58.420000+00:00,2006-05-29 03:17:29.420000+00:00,50.0,False,180000.0,447.28302,data/Extracted/EXP/EXP_3207.npy,...,38740.523438,-0.961661,0.151383,278246.845884,278.331255,36.578904,5313.767749,5312.592304,19.446220,3.603893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122808,122808,TOR,57,2011-03-18 01:51:36.760000+00:00,2011-03-18 01:52:33.760000+00:00,100.0,False,360892.0,0.00978,data/Extracted/TOR/TOR_122808.npy,...,246.887466,1.533662,-0.079509,0.335546,0.180816,0.007426,12.003050,12.001534,138.482604,9.835209
120407,120407,TOR,29,2010-09-05 19:16:32.790000+00:00,2010-09-05 19:17:01.790000+00:00,50.0,False,180001.0,0.00491,data/Extracted/TOR/TOR_120407.npy,...,37.000000,-0.170128,-0.073268,14.652107,0.249470,0.107869,145.641379,145.640408,1432.467079,37.794211
99265,99265,HIB,31,2008-05-02 12:11:21.670000+00:00,2008-05-02 12:11:52.670000+00:00,50.0,False,180001.0,0.33491,data/Extracted/HIB/HIB_99265.npy,...,81.000000,1.964305,-0.185159,7.499639,0.322248,0.164880,107.419355,107.418227,1506.035860,38.591269
99527,99527,PIS,34,2008-09-02 11:19:31.490000+00:00,2008-09-02 11:20:05.490000+00:00,50.0,False,180001.0,0.18685,data/Extracted/PIS/PIS_99527.npy,...,567.000000,0.569839,-0.037043,12.880119,2.084000,0.963358,95.444706,95.431319,270.902175,11.568671
67918,67918,TR2,620,2007-04-22 11:48:19.190000+00:00,2007-04-22 11:58:39.190000+00:00,40.0,False,143999.0,0.25599,data/Extracted/TR/TR_67918.npy,...,1562.000000,3.650595,-0.033135,6.085183,0.741631,0.325359,353.104758,353.102468,16784.177934,117.764011