In [1]:
%run '../transformer.py'

class Transformer successfully imported

In [3]:
association_table = pd.read_excel('../data/association_table_corrected_index.xlsx', engine='openpyxl')

In [4]:
# instaciation de classe
transfo = Transformer(directory_path = '/home/d5learner-15/Documents/cas_etude_volcano/data/Extracted/')

In [5]:
# test get_event_and_file_name()
event, file_name = transfo.get_event_and_file_name(association_table,2)
print(event, file_name)

file_path = transfo.get_file_path(association_table, 2)
print(file_path)

TR TR_2
/home/d5learner-15/Documents/cas_etude_volcano/data/Extracted/TR/TR_2.npy

In [6]:
# test open_file et get_info_from_file
transfo.get_info_from_file(association_table, 21)

(43673.58, 208.36441, 198.70193, 957.90704, 1622.745)

In [7]:
# chemin absolu menant Ã  ce notebook
os.path.abspath('')

'/home/d5learner-15/Documents/cas_etude_volcano/notebook'

In [6]:
# test supp_columns()
df_test = association_table.copy()
print('Avant:', df_test.shape)
df_test = transfo.supp_columns(df_test)
print('Apres:',df_test.shape)

Avant: (124874, 16)
Apres: (124874, 10)

In [8]:
X = transfo.fit_transform(association_table.head(10))

/home/d5learner-15/.local/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/home/d5learner-15/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/home/d5learner-15/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [10]:
X.sample(3)

,Index,Event,Duration,Event start,Event stop,Sampling rate,Overlap,npts,energy,path,variance,mean,median,maximum,amplitude
7,7,LP1,23,2006-05-23 22:49:35.700000+00:00,2006-05-23 22:49:58.700000+00:00,100.0,False,60000.0,0.02537,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...,10092.757812,181.600876,179.0,596.0,886.0
1,1,LP1,45,2006-05-23 20:39:59.960000+00:00,2006-05-23 20:40:44.960000+00:00,100.0,False,60000.0,0.11833,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...,21388.722656,71.648224,69.0,719.0,1157.0
8,8,LP1,15,2006-05-23 22:49:59.480000+00:00,2006-05-23 22:50:14.480000+00:00,100.0,False,60000.0,0.03761,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...,22330.906250,189.344666,186.0,765.0,1109.0

In [11]:
association_table.sample(3)

,Index,Event,Duration,Event start,Event stop,File name,File start,File end,Sampling rate,Overlap,Unnamed: 10,Unnamed: 11,Unnamed: 12,npts,energy,path
120791,120791,TOR,20,2010-07-26 16:14:04.560000+00:00,2010-07-26 16:14:24.560000+00:00,20100726_1600.UB1.SL.Z.sac,2010-07-26 16:00:00.039000+00:00,2010-07-26 17:00:00.039000+00:00,50.0,False,NaN,NaN,NaN,180001.0,0.01106,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
53524,53524,LP1,40,2007-02-23 23:40:53.450000+00:00,2007-02-23 23:41:33.450000+00:00,20070223_2300.UB1.SL.Z.sac,2007-02-23 23:00:00.019000+00:00,2007-02-23 23:59:59.969000+00:00,40.0,False,NaN,NaN,NaN,143999.0,0.01769,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
116932,116932,TR1,858,2009-09-05 14:01:31.660000+00:00,2009-09-05 14:15:49.660000+00:00,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,0.29051,NaN