## Load Data

In [26]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import os
import numpy as np
from sklearn.metrics import rand_score, adjusted_rand_score

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
try:
    table = pd.read_pickle("data/table.pkl")
except:
    table = pd.read_excel("data/association_table_corrected_index.xlsx")
    table.to_pickle("data/table.pkl")

In [3]:
from transformer import Event
from subsampler import balanced_subsampler

NUMBER_OF_SAMPLES_PER_EVENT = 100

In [4]:

tablerich = Event().fit_transform(table)

In [5]:
balanced_table = balanced_subsampler(tablerich, NUMBER_OF_SAMPLES_PER_EVENT)
balanced_table.event.value_counts()

EXP    100
TR     100
LP     100
VT     100
TOR    100
HIB    100
PIS    100
Name: event, dtype: int64

In [6]:
from transformer import Transformer

df = Transformer("data/Extracted/").fit_transform(balanced_table)

In [7]:
df

,Index,Event,Duration,Event start,Event stop,Sampling rate,Overlap,npts,energy,path,...,amplitude,kurtosis,skew,variance_TF,mean_TF,median_TF,maximum_TF,amplitude_TF,kurtosis_TF,skew_TF
5101,5101,EXP,40,2006-06-13 06:46:02.010000+00:00,2006-06-13 06:46:42.010000+00:00,100.0,False,360001.0,316.71740,data/Extracted/EXP/EXP_5101.npy,...,38413.0,0.518151,0.261402,69129.441032,86.283524,3.608489,4887.105973,4887.079673,87.423590,7.177932
73362,73362,TR2,58,2007-05-18 15:57:09.260000+00:00,2007-05-18 15:58:07.260000+00:00,100.0,False,360001.0,0.17495,data/Extracted/TR/TR_73362.npy,...,2257.0,6.936197,-0.184058,52.012651,2.372029,1.268538,466.833793,466.779446,2965.022240,46.733409
112466,112466,TR2,161,2008-09-16 11:52:09.960000+00:00,2008-09-16 11:54:50.960000+00:00,50.0,False,180001.0,0.62860,data/Extracted/TR/TR_112466.npy,...,725.0,1.984253,0.018066,3.094484,0.806686,0.309733,121.453913,121.453687,2747.279464,40.714358
13293,13293,LP1,26,2006-06-28 13:36:36.350000+00:00,2006-06-28 13:37:02.350000+00:00,40.0,False,143999.0,0.01065,data/Extracted/LP/LP_13293.npy,...,725.0,0.677129,0.320214,24.968810,4.120757,2.616995,63.940385,63.806739,28.982344,4.208374
115192,115192,EXP,38,2009-06-01 04:22:20.070000+00:00,2009-06-01 04:22:58.070000+00:00,50.0,False,180001.0,37.25233,data/Extracted/EXP/EXP_115192.npy,...,66.0,1.601057,0.070073,8.444194,0.259406,0.112882,126.453684,126.452513,1868.926737,43.106304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92877,92877,HIB,48,2007-01-11 09:48:13.250000+00:00,2007-01-11 09:49:01.250000+00:00,40.0,False,143999.0,0.45789,data/Extracted/HIB/HIB_92877.npy,...,1109.0,0.029272,-0.130524,17.916590,4.966364,4.347765,57.246875,57.033474,53.098012,5.836510
59512,59512,LP1,71,2007-03-20 15:00:07.360000+00:00,2007-03-20 15:01:18.360000+00:00,40.0,False,143999.0,0.03721,data/Extracted/LP/LP_59512.npy,...,1057.0,2.293443,-0.007669,33.102479,2.742634,1.610340,264.607746,264.550264,1509.038890,33.601314
91534,91534,PIS,15,2007-10-15 04:26:57.890000+00:00,2007-10-15 04:27:12.890000+00:00,50.0,False,180001.0,0.15513,data/Extracted/PIS/PIS_91534.npy,...,1012.0,3.614060,-0.377447,54.655739,3.978773,1.138115,109.157333,109.141785,59.449253,5.676863
42861,42861,LP1,28,2006-12-19 22:43:54.570000+00:00,2006-12-19 22:44:22.570000+00:00,40.0,False,143999.0,0.05548,data/Extracted/LP/LP_42861.npy,...,1477.0,0.773958,-0.150468,241.416027,7.106196,1.686882,369.925000,369.805476,267.967166,12.638343
104590,104590,PIS,50,2008-03-31 10:49:52.950000+00:00,2008-03-31 10:50:42.950000+00:00,50.0,False,180001.0,0.46215,data/Extracted/PIS/PIS_104590.npy,...,1321.0,11.873626,-0.187134,14.726823,2.081831,0.836613,106.173600,106.171978,221.248288,9.864637

In [8]:
features = ["variance", "mean", "median", "maximum", "amplitude", "Duration", "energy", "skew", "kurtosis", "variance_TF", "mean_TF", "median_TF", "maximum_TF", "amplitude_TF", "kurtosis_TF", "skew_TF"]

In [9]:
df[features]

,variance,mean,median,maximum,amplitude,Duration,energy,skew,kurtosis,variance_TF,mean_TF,median_TF,maximum_TF,amplitude_TF,kurtosis_TF,skew_TF
5101,7.645973e+07,338.469238,325.0,21057.0,38413.0,40,316.71740,0.261402,0.518151,69129.441032,86.283524,3.608489,4887.105973,4887.079673,87.423590,7.177932
73362,2.909335e+04,-233.416901,-231.0,797.0,2257.0,58,0.17495,-0.184058,6.936197,52.012651,2.372029,1.268538,466.833793,466.779446,2965.022240,46.733409
112466,3.849504e+03,60.726955,61.0,439.0,725.0,161,0.62860,0.018066,1.984253,3.094484,0.806686,0.309733,121.453913,121.453687,2747.279464,40.714358
13293,9.884764e+03,-31.970192,-37.5,357.0,725.0,26,0.01065,0.320214,0.677129,24.968810,4.120757,2.616995,63.940385,63.806739,28.982344,4.208374
115192,4.532170e+01,63.226841,63.0,99.0,66.0,38,37.25233,0.070073,1.601057,8.444194,0.259406,0.112882,126.453684,126.452513,1868.926737,43.106304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92877,1.961975e+04,-28.623438,-22.0,554.0,1109.0,48,0.45789,-0.130524,0.029272,17.916590,4.966364,4.347765,57.246875,57.033474,53.098012,5.836510
59512,1.133909e+04,-132.303879,-130.0,342.0,1057.0,71,0.03721,-0.007669,2.293443,33.102479,2.742634,1.610340,264.607746,264.550264,1509.038890,33.601314
91534,1.023736e+04,54.578667,54.0,526.0,1012.0,15,0.15513,-0.377447,3.614060,54.655739,3.978773,1.138115,109.157333,109.141785,59.449253,5.676863
42861,4.752481e+04,-184.962494,-179.0,530.0,1477.0,28,0.05548,-0.150468,0.773958,241.416027,7.106196,1.686882,369.925000,369.805476,267.967166,12.638343
104590,9.094820e+03,53.086800,54.0,741.0,1321.0,50,0.46215,-0.187134,11.873626,14.726823,2.081831,0.836613,106.173600,106.171978,221.248288,9.864637

## K-Means Clustering

In [10]:
from sklearn.cluster import KMeans

kmeans = KMeans(7)

kmeans.fit(df[features])

KMeans(n_clusters=7)

### Imbalance measure

In [11]:
from gini import gini

In [12]:
gini(kmeans.labels_)

0.9557142857142856

In [13]:
from sklearn.preprocessing import LabelEncoder

real_labels = LabelEncoder().fit_transform(balanced_table.event.values)

In [14]:
gini(real_labels)

0.38095238095238093

### Rand Index

In [15]:
rand_score(kmeans.labels_, real_labels)

0.2358593909666871

In [16]:
adjusted_rand_score(kmeans.labels_, real_labels)

0.009571888287617953

## OPTICS

In [17]:
from sklearn.cluster import OPTICS

optics = OPTICS()

optics.fit(df[features])

adjusted_rand_score(optics.labels_, real_labels)

0.012834893857868268

In [34]:
len(optics.labels_)

700

In [18]:
gini(optics.labels_)

0.7465547247365428

## Affinity propagation

In [20]:
from sklearn.cluster import AffinityPropagation

aff = AffinityPropagation()

aff.fit(df[features])

print(adjusted_rand_score(aff.labels_, real_labels))

0.0

/home/d5learner-01/anaconda3/envs/volca3/lib/python3.9/site-packages/sklearn/cluster/_affinity_propagation.py:250: ConvergenceWarning: Affinity propagation did not converge, this model will not have any cluster centers.
  warnings.warn(

## BIRCH

In [28]:
from sklearn.cluster import Birch

birch = Birch(n_clusters=7)

birch.fit(df[features])

print(adjusted_rand_score(birch.labels_, real_labels))

print(gini(birch.labels_))

0.009553770599044527
0.03560339913985181

/home/d5learner-01/anaconda3/envs/volca3/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but Birch was fitted with feature names
  warnings.warn(

In [33]:
from collections import Counter
Counter(birch.labels_)

Counter({5: 7, 4: 656, 0: 6, 6: 11, 3: 2, 2: 8, 1: 10})