## Load Data

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import os

In [7]:
try:
    table = pd.read_pickle("data/table.pkl")
except:
    table = pd.read_excel("data/association_table_corrected_index.xlsx")
    table.to_pickle("data/table.pkl")

In [8]:
from transformer import Event
from subsampler import balanced_subsampler

NUMBER_OF_SAMPLES_PER_EVENT = 20

tablerich = Event().fit_transform(table)

In [10]:
balanced_table = balanced_subsampler(tablerich, NUMBER_OF_SAMPLES_PER_EVENT)
balanced_table.event.value_counts()

HIB    20
EXP    20
LP     20
VT     20
TOR    20
PIS    20
TR     20
Name: event, dtype: int64

In [18]:
from transformer import Transformer

df = Transformer("data/Extracted/").fit_transform(balanced_table)

## K-Means clustering

In [19]:
df

,Index,Event,Duration,Event start,Event stop,Sampling rate,Overlap,npts,energy,path,event,variance,mean,median,maximum,amplitude
98906,98906,HIB,41,2008-01-29 17:52:00.080000+00:00,2008-01-29 17:52:41.080000+00:00,50.0,False,180001.0,0.41792,data/Extracted/HIB/HIB_98906.npy,HIB,1.005016e+04,60.647316,61.0,530.0,991.0
6251,6251,EXP,49,2006-06-18 10:54:53.640000+00:00,2006-06-18 10:55:42.640000+00:00,100.0,False,360001.0,471.28646,data/Extracted/EXP/EXP_6251.npy,EXP,9.300001e+07,298.566528,147.0,21040.0,38447.0
13568,13568,LP1,53,2006-06-28 22:31:27.580000+00:00,2006-06-28 22:32:20.580000+00:00,40.0,False,143999.0,0.04963,data/Extracted/LP/LP_13568.npy,LP,2.265562e+04,-64.983017,-63.0,473.0,1233.0
114593,114593,VT1,18,2008-10-31 11:36:54.360000+00:00,2008-10-31 11:37:12.360000+00:00,50.0,False,180001.0,0.07100,data/Extracted/VT/VT_114593.npy,VT,3.888878e+03,62.322224,63.0,478.0,708.0
62699,62699,EXP,22,2007-03-30 11:16:43.800000+00:00,2007-03-30 11:17:05.800000+00:00,40.0,False,143999.0,56.84975,data/Extracted/EXP/EXP_62699.npy,EXP,6.161979e+07,-135.281815,-137.0,20526.0,37919.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19296,19296,TR2,269,2006-07-13 04:06:31.890000+00:00,2006-07-13 04:11:00.890000+00:00,40.0,False,143999.0,0.59970,data/Extracted/TR/TR_19296.npy,TR,5.430384e+04,-118.007156,-115.0,1153.0,2629.0
98995,98995,VT1,26,2008-01-30 20:36:53.350000+00:00,2008-01-30 20:37:19.350000+00:00,50.0,False,180001.0,0.22900,data/Extracted/VT/VT_98995.npy,VT,8.683976e+03,55.611538,56.5,530.0,941.0
13967,13967,EXP,48,2006-06-29 09:23:07.510000+00:00,2006-06-29 09:23:55.510000+00:00,40.0,False,143999.0,95.19986,data/Extracted/EXP/EXP_13967.npy,EXP,4.787823e+07,-43.085415,-98.0,20642.0,38217.0
120857,120857,TOR,17,2010-08-08 05:09:32.370000+00:00,2010-08-08 05:09:49.370000+00:00,50.0,False,180001.0,0.00900,data/Extracted/TOR/TOR_120857.npy,TOR,5.210397e+02,45.203529,46.0,134.0,170.0
10703,10703,EXP,29,2006-06-23 07:21:52.910000+00:00,2006-06-23 07:22:21.910000+00:00,100.0,False,360001.0,295.07464,data/Extracted/EXP/EXP_10703.npy,EXP,9.845532e+07,187.913101,345.0,20938.0,38433.0

In [20]:
features = ["variance", "mean", "median", "maximum", "amplitude", "Duration", "energy"]

In [21]:
df[features]

,variance,mean,median,maximum,amplitude,Duration,energy
98906,1.005016e+04,60.647316,61.0,530.0,991.0,41,0.41792
6251,9.300001e+07,298.566528,147.0,21040.0,38447.0,49,471.28646
13568,2.265562e+04,-64.983017,-63.0,473.0,1233.0,53,0.04963
114593,3.888878e+03,62.322224,63.0,478.0,708.0,18,0.07100
62699,6.161979e+07,-135.281815,-137.0,20526.0,37919.0,22,56.84975
...,...,...,...,...,...,...,...
19296,5.430384e+04,-118.007156,-115.0,1153.0,2629.0,269,0.59970
98995,8.683976e+03,55.611538,56.5,530.0,941.0,26,0.22900
13967,4.787823e+07,-43.085415,-98.0,20642.0,38217.0,48,95.19986
120857,5.210397e+02,45.203529,46.0,134.0,170.0,17,0.00900
10703,9.845532e+07,187.913101,345.0,20938.0,38433.0,29,295.07464

In [22]:
from sklearn.cluster import KMeans

kmeans = KMeans(7)

kmeans.fit(df[features])

KMeans(n_clusters=7)

In [23]:
kmeans.labels_

array([1, 0, 1, 1, 6, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 0], dtype=int32)

In [24]:
df.event

98906     HIB
6251      EXP
13568      LP
114593     VT
62699     EXP
         ...
19296      TR
98995      VT
13967     EXP
120857    TOR
10703     EXP
Name: event, Length: 140, dtype: object