## Load Data

In [3]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import os
import numpy as np
from sklearn.metrics import rand_score, adjusted_rand_score

In [4]:
try:
    table = pd.read_pickle("data/table.pkl")
except:
    table = pd.read_excel("data/association_table_corrected_index.xlsx")
    table.to_pickle("data/table.pkl")

In [5]:
from transformer import Event
from subsampler import balanced_subsampler

NUMBER_OF_SAMPLES_PER_EVENT = 100

In [6]:

tablerich = Event().fit_transform(table)

In [7]:
balanced_table = balanced_subsampler(tablerich, NUMBER_OF_SAMPLES_PER_EVENT)
balanced_table.event.value_counts()

TOR    100
HIB    100
PIS    100
EXP    100
VT     100
LP     100
TR     100
Name: event, dtype: int64

In [8]:
from transformer import Transformer

df = Transformer("data/Extracted/").fit_transform(balanced_table)

In [ ]:
df = pd.read_pickle("data/df.pkl")

In [9]:
df

,Index,Event,Duration,Event start,Event stop,Sampling rate,Overlap,npts,energy,path,...,amplitude,kurtosis,skew,variance_TF,mean_TF,median_TF,maximum_TF,amplitude_TF,kurtosis_TF,skew_TF
120756,120756,TOR,40,2010-07-20 10:09:39.090000+00:00,2010-07-20 10:10:19.090000+00:00,50.0,False,180001.0,0.02178,data/Extracted/TOR/TOR_120756.npy,...,132.0,4.534969,-0.087970,3.719319,0.362202,0.219674,83.823000,83.821955,1751.137895,40.644742
45510,45510,HIB,34,2007-10-01 20:13:48.720000+00:00,2007-10-01 20:14:22.720000+00:00,50.0,False,180001.0,0.07122,data/Extracted/HIB/HIB_45510.npy,...,198.0,2.879214,0.102819,9.608899,0.659194,0.303121,125.169412,125.168936,1528.187728,38.138024
97638,97638,PIS,20,2007-12-26 13:00:41.930000+00:00,2007-12-26 13:01:01.930000+00:00,50.0,False,180001.0,0.23279,data/Extracted/PIS/PIS_97638.npy,...,1198.0,5.351756,0.220302,44.853150,3.757604,1.044429,114.334000,114.307902,76.907955,6.046874
5101,5101,EXP,40,2006-06-13 06:46:02.010000+00:00,2006-06-13 06:46:42.010000+00:00,100.0,False,360001.0,316.71740,data/Extracted/EXP/EXP_5101.npy,...,38413.0,0.518151,0.261402,69129.441032,86.283524,3.608489,4887.105973,4887.079673,87.423590,7.177932
95871,95871,HIB,32,2007-11-30 03:32:32.180000+00:00,2007-11-30 03:33:04.180000+00:00,50.0,False,180001.0,0.33914,data/Extracted/HIB/HIB_95871.npy,...,1036.0,2.533481,-0.119049,29.723709,2.954830,1.016797,140.466250,140.465836,254.217738,11.206638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98489,98489,PIS,53,2008-08-01 21:24:16.940000+00:00,2008-08-01 21:25:09.940000+00:00,50.0,False,180001.0,3.92816,data/Extracted/PIS/PIS_98489.npy,...,55.0,0.515551,-0.144285,6.873813,0.199446,0.092768,134.579623,134.579384,2601.355179,50.816088
98911,98911,HIB,29,2008-01-29 20:53:07.090000+00:00,2008-01-29 20:53:36.090000+00:00,50.0,False,180001.0,0.21679,data/Extracted/HIB/HIB_98911.npy,...,843.0,3.207598,-0.388291,24.663111,2.570040,0.779107,125.932414,125.931034,262.401846,11.554985
98604,98604,PIS,50,2008-09-01 23:50:00.450000+00:00,2008-09-01 23:50:50.450000+00:00,50.0,False,180001.0,0.66128,data/Extracted/PIS/PIS_98604.npy,...,26.0,0.236100,-0.039151,5.618219,0.141325,0.068098,118.487200,118.486400,2482.851592,49.788224
31134,31134,LP1,36,2006-09-09 05:32:44+00:00,2006-09-09 05:33:20+00:00,40.0,False,143999.0,0.03155,data/Extracted/LP/LP_31134.npy,...,1118.0,1.051852,-0.210275,195.351638,4.619791,2.093823,477.154167,477.122403,905.152862,27.173091
99929,99929,LP1,28,2008-02-15 10:09:48.790000+00:00,2008-02-15 10:10:16.790000+00:00,50.0,False,180001.0,0.18692,data/Extracted/LP/LP_99929.npy,...,959.0,8.553262,-0.696181,21.737477,2.291546,0.623549,106.945714,106.943969,182.939334,9.454848

In [13]:
df.to_pickle('data/df.pkl')

In [14]:
all_features = ["variance", "mean", "median", "maximum", "amplitude", "Duration", "energy", "skew", "kurtosis", "variance_TF", "mean_TF", "median_TF", "maximum_TF", "amplitude_TF", "kurtosis_TF", "skew_TF"]
liste_features_selected=['energy', 'Duration', 'mean_TF', 'variance_TF', 'median_TF','variance', 'mean','kurtosis_TF']
features = liste_features_selected

In [15]:
df[features]

,energy,Duration,mean_TF,variance_TF,median_TF,variance,mean,kurtosis_TF
120756,0.02178,40,0.362202,3.719319,0.219674,1.686807e+02,41.911499,1751.137895
45510,0.07122,34,0.659194,9.608899,0.303121,3.516146e+02,62.584705,1528.187728
97638,0.23279,20,3.757604,44.853150,1.044429,1.147512e+04,57.167000,76.907955
5101,316.71740,40,86.283524,69129.441032,3.608489,7.645973e+07,338.469238,87.423590
95871,0.33914,32,2.954830,29.723709,1.016797,1.044920e+04,70.233124,254.217738
...,...,...,...,...,...,...,...,...
98489,3.92816,53,0.199446,6.873813,0.092768,5.233563e+01,67.289810,2601.355179
98911,0.21679,29,2.570040,24.663111,0.779107,7.369986e+03,62.966206,262.401846
98604,0.66128,50,0.141325,5.618219,0.068098,1.406586e+01,59.243599,2482.851592
31134,0.03155,36,4.619791,195.351638,2.093823,2.109085e+04,-238.577087,905.152862
99929,0.18692,28,2.291546,21.737477,0.623549,6.586685e+03,53.472858,182.939334

## K-Means Clustering

In [16]:
from sklearn.cluster import KMeans

kmeans = KMeans(7)

kmeans.fit(df[features])

KMeans(n_clusters=7)

### Imbalance measure

In [17]:
from gini import gini

In [18]:
gini(kmeans.labels_)

0.9491428571428571

In [19]:
from sklearn.preprocessing import LabelEncoder

real_labels = LabelEncoder().fit_transform(balanced_table.event.values)

In [20]:
gini(real_labels)

0.38095238095238093

### Rand Index

In [21]:
rand_score(kmeans.labels_, real_labels)

0.2458042100960556

In [22]:
adjusted_rand_score(kmeans.labels_, real_labels)

0.010426031537366636

## OPTICS

In [23]:
from sklearn.cluster import OPTICS

optics = OPTICS()

optics.fit(df[features])

adjusted_rand_score(optics.labels_, real_labels)

0.02381850609468015

In [24]:
len(optics.labels_)

700

In [25]:
gini(optics.labels_)

0.6941634805537245

## Affinity propagation

In [26]:
from sklearn.cluster import AffinityPropagation

aff = AffinityPropagation()

aff.fit(df[features])

print(adjusted_rand_score(aff.labels_, real_labels))

0.0

/home/d5learner-01/anaconda3/envs/volca3/lib/python3.9/site-packages/sklearn/cluster/_affinity_propagation.py:250: ConvergenceWarning: Affinity propagation did not converge, this model will not have any cluster centers.
  warnings.warn(

## BIRCH

In [27]:
from sklearn.cluster import Birch

birch = Birch(n_clusters=7)

birch.fit(df[features])

print(adjusted_rand_score(birch.labels_, real_labels))

print(gini(birch.labels_))

0.010438883559059952
0.04638334599185252

/home/d5learner-01/anaconda3/envs/volca3/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but Birch was fitted with feature names
  warnings.warn(

In [28]:
from collections import Counter
Counter(birch.labels_)

Counter({3: 651, 0: 10, 1: 12, 6: 5, 5: 8, 2: 11, 4: 3})