In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from transformer import *
import os
%load_ext autoreload
%autoreload 2

table = pd.read_pickle('../association_table.pkl')

In [2]:
table.Event.replace(['LP1','LP2','LPP','TR1','TR2','TRA','VT1','VTP'], ['LP','LP','LP', 'TR','TR','TR','VT','VT'],inplace=True)

In [24]:
table.head()

,Index,Event,Duration,Event start,Event stop,File name,File start,File end,Sampling rate,Overlap,Unnamed: 10,Unnamed: 11,Unnamed: 12,npts,energy,path
0,0,LP,33,2006-05-23 20:39:27.060000+00:00,2006-05-23 20:40:00.060000+00:00,20060523_2033.UB1.SL.Z.sac,2006-05-23 20:33:05.895000+00:00,2006-05-23 20:43:05.885000+00:00,100.0,False,NaN,NaN,NaN,60000.0,0.24403,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
1,1,LP,45,2006-05-23 20:39:59.960000+00:00,2006-05-23 20:40:44.960000+00:00,20060523_2033.UB1.SL.Z.sac,2006-05-23 20:33:05.895000+00:00,2006-05-23 20:43:05.885000+00:00,100.0,False,NaN,NaN,NaN,60000.0,0.11833,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
2,2,TR,128,2006-05-23 22:37:52.910000+00:00,2006-05-23 22:40:00.910000+00:00,20060523_2235.UB1.SL.Z.sac,2006-05-23 22:35:19.895000+00:00,2006-05-23 23:05:19.875000+00:00,50.0,False,NaN,NaN,NaN,90000.0,0.79052,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
3,3,LP,32,2006-05-23 22:44:09.410000+00:00,2006-05-23 22:44:41.410000+00:00,20060523_2235.UB1.SL.Z.sac,2006-05-23 22:35:19.895000+00:00,2006-05-23 23:05:19.875000+00:00,50.0,False,NaN,NaN,NaN,90000.0,1.15570,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...
4,4,TR,78,2006-05-23 22:46:58.440000+00:00,2006-05-23 22:48:16.440000+00:00,20060523_2245.UB1.SL.Z.sac,2006-05-23 22:45:19.895000+00:00,2006-05-23 22:55:19.885000+00:00,100.0,False,NaN,NaN,NaN,60000.0,0.23330,C:/Users/EC265595/Documents/Data/Ubinas_2006_2...

In [4]:
import plotly.express as px 
import pandas as pd
df=table.set_index(pd.DatetimeIndex(table['Event start']))

# for an in range(2006,2012,1):
#     df_month=df.loc[str(an)]
#     fig = px.timeline(df_month, x_start="Event start", x_end="Event stop", y="Event") 
#     fig.update_yaxes(autorange="reversed")
#     fig.show()

In [60]:
df=table[["Event start","Event"]].copy()
df.set_index("Event start", inplace=True)
df

                                 Event
Event start
2006-05-23 20:39:27.060000+00:00    LP
2006-05-23 20:39:59.960000+00:00    LP
2006-05-23 22:37:52.910000+00:00    TR
2006-05-23 22:44:09.410000+00:00    LP
2006-05-23 22:46:58.440000+00:00    TR
...                                ...
2011-10-10 13:45:13.080000+00:00    LP
2011-10-10 19:07:34.050000+00:00    LP
2011-10-10 19:20:48.130000+00:00    LP
2011-11-10 01:08:50.090000+00:00    TR
2011-11-10 13:36:47.390000+00:00    LP

[124874 rows x 1 columns]

In [32]:
df_r

                                 Index  Duration  Event start  Event stop  \
Event start               Event
2006-01-31 00:00:00+00:00 EXP        3         3            3           3
                          LP      1172      1172         1172        1172
                          TR       203       203          203         203
2006-02-28 00:00:00+00:00 EXP        1         1            1           1
                          LP      1027      1027         1027        1027
...                                ...       ...          ...         ...
2011-11-30 00:00:00+00:00 VT        11        11           11          11
2011-12-31 00:00:00+00:00 LP        79        79           79          79
                          TOR        1         1            1           1
                          TR         9         9            9           9
                          VT         2         2            2           2

                                 File name  File start  File end  \
Event start               Event
2006-01-31 00:00:00+00:00 EXP            0           0         0
                          LP             0           0         0
                          TR             0           0         0
2006-02-28 00:00:00+00:00 EXP            0           0         0
                          LP             0           0         0
...                                    ...         ...       ...
2011-11-30 00:00:00+00:00 VT             0           0         0
2011-12-31 00:00:00+00:00 LP             0           0         0
                          TOR            0           0         0
                          TR             0           0         0
                          VT             0           0         0

                                 Sampling rate  Overlap  Unnamed: 10  \
Event start               Event
2006-01-31 00:00:00+00:00 EXP                0        3            0
                          LP                 0     1172            0
                          TR                 0      203            0
2006-02-28 00:00:00+00:00 EXP                0        1            0
                          LP                 0     1027            0
...                                        ...      ...          ...
2011-11-30 00:00:00+00:00 VT                 0       11            0
2011-12-31 00:00:00+00:00 LP                 0       79            0
                          TOR                0        1            0
                          TR                 0        9            0
                          VT                 0        2            0

                                 Unnamed: 11  Unnamed: 12  npts  energy  path
Event start               Event
2006-01-31 00:00:00+00:00 EXP              0            0     0       3     0
                          LP               0            0     0    1172     0
                          TR               0            0     0     203     0
2006-02-28 00:00:00+00:00 EXP              0            0     0       1     0
                          LP               0            0     0    1027     0
...                                      ...          ...   ...     ...   ...
2011-11-30 00:00:00+00:00 VT               0            0     0      11     0
2011-12-31 00:00:00+00:00 LP               0            0     0      79     0
                          TOR              0            0     0       1     0
                          TR               0            0     0       9     0
                          VT               0            0     0       2     0

[355 rows x 15 columns]